@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "fonts";
@import "vars";
@import "mixins";
@import "keyframes";
//----------------------------------*\
// GENERAL
//----------------------------------*/
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    font-family: $font-montserrat;
    background: #fff;
    color: $clr-brand;
    cursor: default;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

::selection {
    color: #fff;
    background-color: $clr-brand;
}

p {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    word-break: break-word;
    word-break: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
    // enabling fancy ligatures when available
    // -webkit-font-feature-settings: "liga", "dlig";
    //  -moz-font-feature-settings: "liga=1, dlig=1";
    //     -ms-font-feature-settings: "liga", "dlig";
    //      -o-font-feature-settings: "liga", "dlig";
    //         font-feature-settings: "liga", "dlig";
}

.wrp {
    margin: 0 auto;
    width: 87%;
    max-width: 1020px;
    &.fluid {
    	max-width: 100%;
    }
    @media only screen and (min-width: $tablet-wide) {
        width: 93%;
    }
}

//----------------------------------*\
// HEADER
//----------------------------------*/
.header {
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 15px;
    @include linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;
    @media only screen and (min-width: $tablet-wide) {
    	@include linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
    	padding-top: 28px;
    }
}

.logo {
    display: block;
    position: absolute;
    left: 13px;
    top: 11px;
    pointer-events: auto;
    @media only screen and (min-width: $tablet-wide) {
		left: 40px;
    	top: 30px;
    }
}

.logotype {
    font-family: $font-libre;
    font-size: 30px;
    position: absolute;
    display: none;
    right: 42px;
    top: 27px;
    width: 36px;
    height: 39px;
    text-align: center;
    color: $clr-brand;
    pointer-events: auto;
    @media only screen and (min-width: $tablet-wide) {
    	display: block;
	    span {
	        position: absolute;
	        width: 36px;
	        left: 0;
	        top: 0;
	        opacity: 0;
	        text-transform: uppercase;
	        &.lt1 {
	            opacity: 1;
	        }
	    }
	    &:hover {
	        .lt1 {
	            animation: animateone 2.5s infinite;
	        }
	        .lt2 {
	            animation: animatetwo 2.5s infinite;
	        }
	        .lt3 {
	            animation: animatethree 2.5s infinite;
	        }
	        .lt4 {
	            animation: animatefour 2.5s infinite;
	        }
	        .lt5 {
	            animation: animatefive 2.5s infinite;
	        }
	        .lt6 {
	            animation: animatesix 2.5s infinite;
	        }
	        .lt7 {
	            animation: animateseven 2.5s infinite;
	        }
	        .lt8 {
	            animation: animateeight 2.5s infinite;
	        }
	    }
	}
}

.flip-container,
.front {
	width: 31px;
	height: 29px;
}
.back {
	display: none;
}

@media only screen and (min-width: $tablet-wide) {
	/* entire container, keeps perspective */

	.flip-container {
	    perspective: 1000;
	    transform-style: preserve-3d;
	}


	/*  UPDATED! flip the pane when hovered */

	.flip-container:hover .back {
	    transform: rotateY(0deg);
	}

	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

	.flip-container,
	.front,
	.back {
		display: block;
	    width: 41px;
	    height: 38px;
	}


	/* flip speed goes here */

	.flipper {
	    transition: 0.5s;
	    transform-style: preserve-3d;
	    position: relative;
	}


	/* hide back of pane during swap */

	.front,
	.back {
	    backface-visibility: hidden;
	    transition: 0.5s;
	    transform-style: preserve-3d;
	    position: absolute;
	    top: 0;
	    left: 0;
	}


	/*  UPDATED! front pane, placed above back */

	.front {
	    z-index: 2;
	    transform: rotateY(0deg);
	}


	/* back, initially hidden pane */

	.back {
	    transform: rotateY(-180deg);
	}


	/* 
		Some vertical flip updates 
	*/

	.vertical.flip-container {
	    position: relative;
	}

	.vertical .back {
	    transform: rotateX(180deg);
	}

	.vertical.flip-container:hover .back {
	    transform: rotateX(0deg);
	}

	.vertical.flip-container:hover .front {
	    transform: rotateX(180deg);
	}
}

//----------------------------------*\
// NAVIGATION
//----------------------------------*/
.nav-main {
    display: block;
	padding-right: 9px;
    float: right;
    @media only screen and (min-width: $tablet-wide) {
    	float: none;
    	padding: 0 100px;
    }
    ul {
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        li {
            display: block;
            float: left;
            margin-bottom: 0;
            text-align: center;
            margin-left: 15px;
            @media only screen and (min-width: $tablet-wide) {
				width: 33.333333%;
				margin-left: 0;
            }
            a {
                font-size: 13px;
                text-transform: capitalize;
                color: $clr-brand;
                font-weight: 700;
                padding: 0 5px 1px 4px;
                pointer-events: auto;
                @media only screen and (min-width: $tablet-wide) {
                	font-size: 26px;
					&:hover {
	                    border-bottom: 4px solid $clr-brand;
	                }
                }
                &.active {
                    background-color: $clr-brand;
                    color: #ffffff;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

//----------------------------------*\
// CONTENT
//----------------------------------*/
.content {
	padding-top: 43px;
	padding-bottom: 53px;
	overflow: hidden;
	text-align: center;
	@media only screen and (min-width: $tablet-wide) {
		padding-top: 87px;
		padding-bottom: 57px;
	}
}
.jumbotron {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 230px;
	transform: translate(-50%, -50%);
	h1 {
		font-weight: 400;
	}
}
.single-work {
	max-width: 960px;
	text-align: center;
	margin: -17px auto 50px auto;
	@media only screen and (min-width: $tablet-wide) {
		margin: -27px auto 50px auto;
	}
	a {
		color: $clr-brand;
		border-bottom: 1px solid $clr-brand;
		&:hover {
			background-color: lighten($clr-brand,33%);
		}
	}
	.video-embed {
		margin: 35px 0 0 0;
		@media only screen and (min-width: $tablet-wide) {
			margin: 50px 0 0 0;
		}
		p {
			margin: 0;
			font-size: 10px;
			font-style: italic;
			margin-top: 5px;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 11px;
				// margin-top: 5px;
			}
		}
	}
	.images {
		figure {
			margin: 35px 0 0 0;
			@media only screen and (min-width: $tablet-wide) {
				margin: 50px 0 0 0;
			}
		}
		figcaption {
			margin: 0;
			font-size: 10px;
			font-style: italic;
			margin-top: 5px;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 11px;
				// margin-top: 5px;
			}
		}
	}
	.work-title {
		font-size: 36px;
		margin: 0;
		margin-top: 35px;
		font-weight: 400;
		@media only screen and (min-width: $tablet-wide) {
			font-size: 46px;
			margin-top: 50px;
		}
	}
	.work-section {
		margin-top: 40px;
		@media only screen and (min-width: $tablet-wide) {
			margin-top: 60px;
		}
		h2 {
			font-size: 13px;
			margin-bottom: 0;
		}
		p {
			margin: 7px 0;
			font-size: 16px;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 20px;
			}
		}
	}
}
.grid {
    .item {
        padding: 13px 0;
        position: relative;
        text-align: center;
        @media only screen and (min-width: $tablet-wide) {
			padding: 2% 0;
        }
        img {
        	width: 100%;
        	height: auto;
        }
        .title {
			color: #fff;
			padding: 7px 5px 7px 5px;
			background-color: $clr-brand;
			// border: 2px solid $clr-brand;
			// border-top: none;
			@media only screen and (min-width: $tablet-wide) {
				color: #ffffff;
				padding: 20px;
				opacity: 0;
				transition: opacity 0.3s;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 230px;
				transform: translate(-50%, -50%);
			}
			h2 {
				margin: 0 0 4px 0;
				line-height: 1.2;
				font-size: 12px;
				@media only screen and (min-width: $tablet-wide) {
					margin: 0 0 15px 0;
					font-size: 23px;
				}
			}
			p {
				margin: 0 0 2px 0;
				font-size: 10px;
				@media only screen and (min-width: $tablet-wide) {
					margin: 0 0 3px 0;
					font-size: 13px;
				}
			}
        }
        a:hover .title{
        	opacity: 1;
        }
    }
    .item-grid {
        width: 100%;
        @media only screen and (min-width: $tablet-wide) {
        	float: left;
        	width: 48%;
	        &:nth-child(even) {margin-left: 2%;}
	        &:nth-child(odd) {margin-right: 2%;}
	    }
    }
    .item-full {
    	width: 100%;
    	clear: both;
    }
}
.page-about .content, .page-contact .content {
	padding-top: 77px;
	padding-bottom: 57px;
	@media only screen and (min-width: $tablet-wide) {
		padding-top: 127px;
		padding-bottom: 107px;
	}
	h1 {
		font-size: 30px;
		@media only screen and (min-width: $tablet-wide) {
			font-size: 40px;
		}
		a {
			border-bottom: 2px solid $clr-brand;
		}
	}
	a {
		color: $clr-brand;
		border-bottom: 1px solid $clr-brand;
		@media only screen and (min-width: $tablet-wide) {
			&:hover {
				background-color: lighten($clr-brand,33%);
			}
		}
	}
	address {
		font-size: 20px;
		font-style: normal;
		line-height: 1.2;
		margin-top: 57px;
		h3 {
			margin: 0;
			font-size: 18px;
			margin-bottom: -7px;
		}
		p {
			margin: 23px 0;
		}
		@media only screen and (min-width: $tablet-wide) {
			margin-top: 77px;
			font-size: 30px;
			h3 {
				font-size: 26px;
			}
			p {
				margin: 27px 0;
			}
		}
	}
	section {
		margin-top: 57px;
		@media only screen and (min-width: $tablet-wide) {
			margin-top: 77px;
		}
		h2 {
			font-size: 30px;
			font-weight: 400;
			// margin-bottom: 0;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 40px;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top: -27px;
			overflow: hidden;
			@media only screen and (min-width: $tablet-wide) {
				margin-top: -37px;
			}
			li {
				margin-top: 13px;
				display: block;
				font-size: 18px;
				@media only screen and (min-width: $tablet-wide) {
					&:nth-child(3n+4) {
						clear: left;
					}
					width: 33.333333%;
					float: left;
					font-size: 20px;
					margin-top: 17px;
				}
			}
		}
	}
	.team-member {
		display: block;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 37px;
		@media only screen and (min-width: $tablet-wide) {
			display: inline-block;
			width: 300px;
			margin: 17px;
			margin-top: -7px;
			margin-bottom: 43px;
		}
		img {
			margin-bottom: 7px;
		}
		h3 {
			font-size: 16px;
			margin: 0;
			margin-top: 5px;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 18px;
			}
		}
		h5 {
			font-size: 14px;
			font-weight: 400;
			margin: 0;
			margin-top: 5px;
			@media only screen and (min-width: $tablet-wide) {
				font-size: 15px;
			}
		}
		a {
			font-size: 14px;
			font-weight: 400;
			margin: 0;
			margin-top: 5px;
			display: inline-block;
			color: $clr-brand;
			border-bottom: 1px solid $clr-brand;
			@media only screen and (min-width: $tablet-wide) {
				&:hover {
					background-color: lighten($clr-brand,33%);
				}
			}
		}
	}
}


//----------------------------------*\
// FOOTER
//----------------------------------*/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 69px;
	text-align: center;
	z-index: 9;
	pointer-events: none;
	overflow: hidden;
	padding-top: 20px;
	@include linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 77%);
	@media only screen and (min-width: 500px) {
		height: 35px;
		padding-top: 7px;
		@include linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
	}
	@media only screen and (min-width: $tablet-wide) {
		height: 57px;
		padding-top: 20px;
	}
	.nav-social {
		overflow: hidden;
		@media only screen and (min-width: 500px) {
			float: left;
			margin-left: 5px;
		}
		@media only screen and (min-width: $tablet-wide) {
			margin-left: 10px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
		}
		a {
			font-size: 12px;
			color: $clr-brand;
			border: 1px solid $clr-brand;
			padding: 0 3px 2px 3px;
			pointer-events: auto;
			margin: 0 10px;
			@media only screen and (min-width: 500px) {
				margin: 0 3px;
			}
			@media only screen and (min-width: $tablet-wide) {
				margin: 0 10px;
				font-size: 13px;
				padding: 0 2px 2px 3px;
				border: 1px solid transparent;
				border-bottom: 1px solid $clr-brand;
				&:hover {
					// background-color: $clr-brand;
					border: 1px solid $clr-brand;
				}
			}
		}
	}
	.copyright {
		font-size: 12px;
    	line-height: 26px;
    	@media only screen and (min-width: 500px) {
			float: right;
			margin-right: 7px;
    	}
    	@media only screen and (min-width: $tablet-wide) {
			margin-right: 19px;
    	}
	}
}