description = "Default layout"
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Raba Rama ~ {{ this.page.title }}</title>
    <!-- Meta -->
    <meta name="author" content="Kenniko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <!-- Favicon by http://realfavicongenerator.net/-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{'assets/favicon/apple-touch-icon-57x57.png'|theme}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{'assets/favicon/apple-touch-icon-60x60.png'|theme}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{'assets/favicon/apple-touch-icon-72x72.png'|theme}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{'assets/favicon/apple-touch-icon-76x76.png'|theme}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{'assets/favicon/apple-touch-icon-114x114.png'|theme}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{'assets/favicon/apple-touch-icon-120x120.png'|theme}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{'assets/favicon/apple-touch-icon-144x144.png'|theme}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{'assets/favicon/apple-touch-icon-152x152.png'|theme}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/favicon/apple-touch-icon-180x180.png'|theme}}">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-32x32.png'|theme}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{'assets/favicon/android-chrome-192x192.png'|theme}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-96x96.png'|theme}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-16x16.png'|theme}}" sizes="16x16">
    <link rel="manifest" href="{{'assets/favicon/manifest.json'|theme}}">
    <link rel="mask-icon" href="{{'assets/favicon/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{'assets/favicon/mstile-144x144.png'|theme}}">
    <meta name="theme-color" content="#ffffff">
    {% styles %}
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ [
            'assets/css/normalize.css',
            'assets/css/style.css',
    ]|theme }}" rel="stylesheet">
    <script src="{{'assets/js/modernizr.min.js'|theme}}"></script>
</head>

<body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="header">
        <a class="flip-container logo" ontouchstart="this.classList.toggle('hover');" href="{{ 'work'|page }}">
            <div class="flipper">
                <div class="front">
                    <img src="{{'assets/images/rbrm1.png'|theme}}" alt="Raba Rama Logo">
                </div>
                <div class="back">
                    <img src="{{'assets/images/rbrm2.png'|theme}}" alt="Raba Rama Logo">
                </div>
            </div>
        </a>
        <nav class="nav-main">
            <ul>
                <li><a href="{{ 'work'|page }}" class="{% if this.page.id == 'work' %}
                                active
                            {% elseif this.page.id == 'work-detail' %}
                                active
                            {% endif %}">work</a></li>
                <li><a href="{{ 'about'|page }}" class="{% if this.page.id == 'about' %}active{% endif %}">about</a></li>
                <li><a href="{{ 'contact'|page }}" class="{% if this.page.id == 'contact' %}active{% endif %}">contact</a></li>
            </ul>
        </nav>
        <a href="{{ 'home'|page }}" class="logotype">
            <span class="lt1">r</span>
            <span class="lt2">a</span>
            <span class="lt3">b</span>
            <span class="lt4">a</span>
            <span class="lt5">r</span>
            <span class="lt6">a</span>
            <span class="lt7">m</span>
            <span class="lt8">a</span>
        </a>
    </header>
    <!-- Content -->
    <main class="content wrp" role="main">
        {% page %}
    </main>
    <!-- Footer -->
    <footer class="footer">
        <nav class="nav-social">
            <ul>
                <li><a href="https://www.facebook.com/Raba-Rama-1378428785776324/" target="_blank">facebook</a></li>
                <li><a href="https://vimeo.com/user6362854" target="_blank">vimeo</a></li>
                <li><a href="https://www.youtube.com/channel/UC5UEiIkJtC5TnrPh3rX9Zwg" target="_blank">youtube</a></li>
            </ul>
        </nav>
        <div class="copyright">© Raba Rama Studio. All rights reserved.</div>
    </footer>

    <!-- Scripts -->
        <script src="{{ [
            'assets/js/jquery.js',
            'assets/js/jquery.fitvids.js'
        ]|theme }}"></script>
    {% scripts %}
</body>

</html>